@font-face {
  font-weight: 400;
  font-family: Poppins;
  font-style: normal;
  src: url('/src/assets/fonts/Poppins-Regular.woff2') format('woff2'),
    url('/src/assets/fonts/Poppins-Regular.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-weight: 500;
  font-family: Poppins;
  font-style: normal;
  src: url('/src/assets/fonts/Poppins-Medium.woff2') format('woff2'),
    url('/src/assets/fonts/Poppins-Medium.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-weight: 600;
  font-family: Poppins;
  font-style: normal;
  src: url('/src/assets/fonts/Poppins-Semibold.woff2') format('woff2'),
    url('/src/assets/fonts/Poppins-Semibold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-family: Poppins;
  font-style: normal;
  src: url('/src/assets/fonts/Poppins-Bold.woff2') format('woff2'),
    url('/src/assets/fonts/Poppins-Bold.woff') format('woff');
  font-display: swap;
}
