@use '../utils/mixins' as mix;
@use '../utils/variables' as vars;
@use '../utils/functions' as fn;

.drink-log {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 24px;
  padding-bottom: 7px;
  background: #f7f9fd;
  border-radius: 12px;
  @include mix.p12;

  &__top {
    display: flex;
    gap: 15px;
    justify-content: space-between;
  }

  &__title {
    @include mix.p18;

    color: #3629b7;
  }

  &__more {
    width: 14px;
    height: 14px;
  }

  &__list {
    &-block {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;

    &-more {
      color: #7b81a6;
      transition: transform 0.3s ease-in-out;

      &:hover,
      &:focus-visible,
      &:active {
        transform: translateY(3px);
      }

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }

  &__item {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
    padding: 10px 16px 10px 14px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 30px 30.24px 20px rgba(0, 0, 0, 2%),
      0 12.16px 8.576px rgba(0, 0, 0, 1.32%),
      0 2.72px 3.712px rgba(0, 0, 0, 0.83%);
  }

  &__value {
    display: flex;
    gap: 4px;
    align-items: center;
    color: #3546b1;

    &-icon {
      width: 20px;
      height: 20px;
    }
  }

  &__time {
    color: #7b81a6;
  }
}
