@use '../utils/mixins' as mix;
@use '../utils/variables' as vars;
@use '../utils/functions' as fn;

.main-content {
  width: 100%;
  padding: 43px 40px 30px;

  &__header {
    margin-bottom: 24px;
  }

  &__statistic {
    margin-bottom: 40px;
  }
}
